body
{
	margin: 0;
	padding: 0;
}
.banner
{
	background-color: #f69f30;
    height:100vh;
}
.logo
{
  height: 60px;
  width: 50px;
}
.logo1
{
  height: 60px;
  width: 250px;
}
h4
{
  color: white;
}
header
{
	padding: 10px auto;
	background-color: rgba(225,225,225,0.6);
}
.logo
{
  height: 60px;
  width: 50px;
}
.logo1
{
  height: 80px;
  width: 330px;
}
h5
{
  margin-top: -25%;
  margin-left: 30%;
  text-shadow: 1px 1px #7989f9;
}

.logotext
{
  margin-top:10%;
  margin-left: -30%;
  font-weight: lighter;
  font-size: 13px;
  text-shadow: 1px 1px #7989f9;
}
.nav1
{
	background-color: #fc094e;
  position: fixed;
	width: 100%;
}
nav
{
  position: fixed;
}
.navbar
{
	padding: 0px;
}
.navbar-nav li
{
	z-index: 1;
}
.navbar-nav li a
{
  font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	padding: 15px 60px!important;
}
.navbar-nav li a:hover
{
	border-right: 3px solid #f5a111;
	border-left: 3px solid #f5a111;
	color:#f5a111;
	transition: 0.5s all;
}
.navbar-light .navbar-nav .nav-link
{
	color: #000;
}

@media(max-width: 1280px)
{
   .navbar-nav li
   {
   	 font-size: 15px;
   }
   .logo
{
  height: 60px;
  width: 50px;
  margin: 0 auto;
  margin-top:4%;
  margin-left:15%;
}
.logo1
{
  height: 80px;
  width: 320px;
  margin: 0 auto;
}
h5
{
  margin-top: -26%;
  margin-left:53%;
  font-size: 15px;
  text-shadow: 1px 1px #7989f9;
}

.logotext
{
  margin-top:8%;
  margin-left:-35%;
  font-weight: lighter;
  font-size:12px;
  text-shadow: 1px 1px #7989f9;
}
}
@media(max-width: 992px)
{
   .navbar-toggler
   {
      margin: 10px 8px 10px 30px;
      background-color: #fff;
      border-color: #fc094e;
  }
  .navbar-toggler:hover
   {
      
      background-color: #fc094e;
  }
   .navbar-light
   {
   	 background-color: #fff;
   }
   .navbar-nav li a
   {
   	 text-align: center;
   	 background-color: aliceblue;
   }
   .navbar-nav li a:hover
   {
   	background-color:#f5a111;
   }
   .logo
{
  height: 50px;
  width: 40px;
  margin: 0 auto;
  margin-top: 2%;
  margin-left: 20%;
}
.logo1
{
  height: 60px;
  width: 240px;
  margin: 0 auto;
}
h5
{
  margin-top: -25%;
  margin-left:55%;
  font-size: 13px;
  text-shadow: 1px 1px #7989f9;
}

.logotext
{
  margin-top:8%;
  margin-left:-20%;
  font-weight: lighter;
  font-size: 10px;
  text-shadow: 1px 1px #7989f9;
}
}

form
{
  margin-top: 20%;
 
}
.btncol
{
  background-color: transparent;
  border:1px solid white;
  color: white;
}
.btncol:hover
{
  color:#000;
}
@media(max-width:320px )
{
   
.logo
{
  height: 30px;
  width: 20px;
  margin: 0 auto;
  margin-top: -30%;
  margin-left: 80%;
}
.logo1
{
  height: 40px;
  width: 150px;
  margin: 0 auto;
}
h5
{
  margin-top: -22%;
  margin-left:90%;
  font-size: 10px;
  text-shadow: 1px 1px #7989f9;
}

.logotext
{
  margin-top:2%;
  margin-left: 71%;
  font-weight: lighter;
  font-size: 8px;
  text-shadow: 1px 1px #7989f9;
}
}
@media(max-width: 768px)
{

.logo
{
  height: 30px;
  width: 20px;
  margin: 0 auto;
  margin-top: -18%;
  margin-left: 80%;
}
.logo1
{
  height: 50px;
  width: 190px;
  margin: 0 auto;
}
h5
{
  margin-top: -13%;
  margin-left:85%;
  font-size: 13px;
  text-shadow: 1px 1px #7989f9;
}

.logotext
{
  margin-top:2%;
  margin-left: 71%;
  font-weight: lighter;
  font-size: 9px;
  text-shadow: 1px 1px #7989f9;
}
}

@media(max-width: 480px)
{
  .logo
{
  height: 30px;
  width: 20px;
  margin: 0 auto;
  margin-top: -20%;
  margin-left: 80%;
}
.logo1
{
  height: 40px;
  width: 150px;
  margin: 0 auto;
}

h5
{
  margin-top: -15%;
  margin-left:87%;
  font-size: 10px;
  text-shadow: 1px 1px #7989f9;
}

.logotext
{
  margin-top:2%;
  margin-left: 67%;
  font-weight: lighter;
  font-size: 8px;
  text-shadow: 1px 1px #7989f9;
}
}












